{% extends "base.html" %} {% block title %}Chez moi{% endblock %} {% block content  %}
{% if user.first_name != "admin" %}
<form name="selec" method="POST" action="" enctype="multipart/form-data">
  {{ formBD.hidden_tag() }}
Toutes les BD référencées:</br>
<input type="text" id="titre" name="titre" list="titre-list" required>
      <datalist id="titre-list" default="Choisir un titre">
        <option value="Choisir un titre" selected disabled>Choisir un titre</option>
        {% for titre in ListeBD %}
        <option value="{{ titre.titreC }}" >{{ titre.titreC }}</option>
        {% endfor %}
      </datalist>
    </input>
        {{ formBD.submit(class=btn) }}
      
    {% for tit in MesBD %}
    <a href="" onClick="deleteBD({{ tit.id }})">
        <img src="{{ tit.image }}" width="85px">
    </a>
    {% endfor %}
  </form>
{% else %}
<form>
{{ HistoForM.hidden_tag() }}
<center>
<table>
<img src="{{url_for('static', filename='coupoeil.jpeg')}}"/>
<table>
  
  <tr>
    {% for parametre in parametres %}
    <td> Nombre de bd référencées: </td><td>{{parametre.nb_bd}}</td>
  </tr>
  <tr>
    <td> Nombre de lecteurs : </td><td>{{parametre.nb_user}}</td>
  </tr>
  <tr>
    <td> Nombre de Critiques : </td><td>{{parametre.nb_cri}}</td>
  </tr>
  <tr>
    <td> Nombre de Recommandations : </td><td>{{parametre.nb_reco}}</td>
  </tr>
  {% endfor %}

</table>
</table>
{{ HistoForM.submit(class=btn) }}
</center>
{% endif %}
</form>
{% endblock %}