{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form name="selec" method="POST" action="" enctype="multipart/form-data">
  {{ MBD.hidden_tag() }}
Supprimer un utilisateur
<input type="text" id="user" name="user" list="user-list" required>
<datalist id="user-list" default="Choisir un titre">
  <option value="ChoisirUsers" selected disabled>Choisir un utilisateur</option>
  {% for User in  dfAlch %}
  <option value="{{User.first_name}}" >{{ User.first_name }}</option>
  {% endfor %}
</datalist>
<br><br><br>
<button type="button" class="close" onClick="deleteUser(user.value)">
  <span aria-hidden="true">&times;</span>
</button>

</form>
{% endblock %}
